body{
    background-color: #424769;
}

.my_container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

#grid{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 800px;
    height: 800px;
    border: groove 20px #7D7463;
    user-select: none;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A8A196;;
    color: #A8A196;
    border: outset 4px black
}

.active{
    background-color: #D8D8D8;;
    border: inset 2px #A8A196;
    color: #D8D8D8;
}

.bomb{
    border: inset 2px #A8A196;
    background-image: url(../img/bomb.jpg);
    background-size: cover;
    color: transparent;
}

#grid.easy .square{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

#grid.medium .square{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#grid.hard .square{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

#moves{
    color: #9B4444;
}

#record-count{
    color: #FF6969;
}

#score{
    color: #F6D776;
}